<div class="row greysama ml-0 mr-0 pb-5">
  <div class="container mt-5 articulos text-center">

    <div class="row mb-5">
      <div class="col-12 text-center">
        <h1>ARTÍCULOS DESTACADOS <span class="mobilDelete">|</span> RECOMENDACIONES</h1>
      </div>
    </div>


    <div class="card-columns">
      <div class="card" *ngFor="let article of articles">
        <a routerLink="/articulo/{{article.id}}">
          <img  *ngIf="article.images.length >= 1" class="card-img-top" src="http://assistpet.com.ar/images/articles/{{article.images[0].name}}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <p class="card-text">{{article.desc}}</p>
          </div>
        </a>
      </div>
    </div>

  </div>
</div>
