<div class="jumbotron jumbotron-fluid" style="background-image:url(/assets/img/jumbo2.jpg); background-position: center center">
  <div class="container">
    <!--<h1 style="color:#a809a6 !important" class="display-4">Nuestra Misión</h1>-->
  </div>
</div>

<div class="container pt-5 pb-5">
  <h1 style="color:#a809a6 !important" class="display-4">Nuestros principios</h1>

  <hr>

  <h4 class="mt-5" style="color:#a809a6 !important">Quienes somos</h4>

  <p>Somos amantes de las mascotas, por eso nos comprometemos a brindarle un cuidado extraordinario en el lugar y en momento que sean necesarios</p>

  <h4 class="mt-5" style="color:#a809a6 !important">MISION</h4>

  <p>Assistpet brinda a su mascota una amplia variedad de servicios y asistencia veterinaria, con la garantía de la atención personalizada y la destacada calidad en el cuidado del mismo</p>

  <h4 class="mt-5" style="color:#a809a6 !important">VISIÓN</h4>

  <p>Ser modelo en el cuidado y restablecimiento de la salud de las mascotas, manteniendo la excelencia en la calidad de atención.</p>

  <h4 class="mt-5" style="color:#a809a6 !important">VALORES</h4>

  <p>Nuestro propósito principal es brindar a los socios y a sus mascotas, una amplia variedad de servicios y de asistencia, vinculados a la medicina, que aseguren una máxima jerarquía y un funcionamiento de óptima eficiencia.</p>
  <p>Priorizamos el ‘trato humano’ con cada una de las personas con las que nos relacionamos, nos esforzamos por escuchar las necesidades de sus mascotas y actuamos en consecuencia.</p>
  <p>Nuestra fuerte vocación de servicio nos hace dar siempre una respuesta a nuestros socios. La mejor posible: eficaz, ágil y personalizada.</p>

</div>
