<div class="container mt-5 planes text-center">

  <div class="row mb-5">
    <div class="col-12 text-center">
      <h1>LOS MEJORES PLANES PARA TU MASCOTA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center">
      <div class="plan">
        <img src="/assets/img/perrito.png" class="imgPlan">
        <div class="nombrePlan">PLAN A</div>
      </div>
      <div class="descPlan">2 vacunas, 6 consultas al veterinario, 1 rutina de laboratorio...</div>
      <button type="button" routerLink="/plan/1" name="button" class="btn btn-assist">Más Información</button>
    </div>

    <div class="col-4 text-center">
      <div class="plan">
        <img src="/assets/img/perro.png" class="imgPlan" style="top:48px">
        <div class="nombrePlan">PLAN B</div>
      </div>
      <div class="descPlan">4 vacunas, 12 consultas al veterinario, 2 rutinas de laboratorio...</div>
      <button type="button" routerLink="/plan/2" name="button" class="btn btn-assist">Más Información</button>
    </div>

    <div class="col-4 text-center">
      <div class="plan">
        <img src="/assets/img/toga.png" class="imgPlan">
        <div class="nombrePlan">PLAN C</div>
      </div>
      <div class="descPlan">8 vacunas, 24 consultas al veterinario, 3 rutinas de laboratorio...</div>
      <button type="button" routerLink="/plan/3" name="button" class="btn btn-assist">Más Información</button>
    </div>

  </div>
</div>
