<div class="container mt-5 planes text-center">

  <div class="row mb-5">
    <div class="col-12 text-center">
      <h1>LOS MEJORES PLANES PARA TU MASCOTA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-right">
      <div class="plan">
        <img src="/assets/img/perrito.png" class="imgPlan">
        <div class="nombrePlan">PLAN XXX</div>
      </div>
      <div class="descPlan">Opcion A,  Opcion B, Opcion C, Opcion D</div>
    </div>

    <div class="col-4 text-center">
      <div class="plan">
        <img src="/assets/img/perro.png" class="imgPlan" style="top:48px">
        <div class="nombrePlan">PLAN XXX</div>
      </div>
      <div class="descPlan">Opcion A,  Opcion B, Opcion C, Opcion D</div>
    </div>

    <div class="col-4 text-left">
      <div class="plan">
        <img src="/assets/img/toga.png" class="imgPlan">
        <div class="nombrePlan">PLAN XXX</div>
      </div>
      <div class="descPlan">Opcion A,  Opcion B, Opcion C, Opcion D</div>
    </div>

  </div>
</div>
