<div class="container mt-5 planes text-center">

  <div class="row">
    <div class="col-12 text-center">
      <h1>LOS MEJORES PLANES PARA TU MASCOTA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-4 text-center planA">
      <img src="/assets/img/labrador.jpg" class="imgPlan">
      <div class="nombrePlan nombrePlanA">PLAN AP010</div>
      <div class="descPlan">3 vacunas, 6 consultas al veterinario, 1 rutina de laboratorio...</div>
      <button type="button" routerLink="/plan/1" name="button" class="btn btn-assist">Contratar plan</button>
    </div>

    <div class="col-4 text-center planB">
      <img src="/assets/img/sharpei.jpg" class="imgPlan" style="top:48px">
      <div class="nombrePlan nombrePlanB">PLAN AP020</div>
      <div class="descPlan">5 vacunas, 12 consultas al veterinario, 2 rutinas de laboratorio...</div>
      <button type="button" routerLink="/plan/2" name="button" class="btn btn-assist">Contratar plan</button>
    </div>

    <div class="col-4 text-center planC">
      <img src="/assets/img/boyero.jpg" class="imgPlan">
      <div class="nombrePlan nombrePlanC">PLAN AP030</div>
      <div class="descPlan">8 vacunas, 24 consultas al veterinario, 3 rutinas de laboratorio...</div>
      <button type="button" routerLink="/plan/3" name="button" class="btn btn-assist">Contratar plan</button>
    </div>

  </div>
</div>
