<div class="container pt-5">
  <div class="row">
    <div class="co-3 mr-5">
      <div class="plan">
        <img src="/assets/img/perrito.png" class="imgPlan">
        <div class="nombrePlan">PLAN A</div>
      </div>
      <div class="descPlan" style="text-right">
        40% de descuento en medicamentos veterinario a domicilio<br><br>
        15% de descuento en medicamentos en clínica veterinaria
      </div>
      <button type="button" name="button" class="btn btn-assist" style="width:200px">Contratar plan al<br> 0810-333-3110</button>
    </div>
    <div class="col-9">
      <table class="table table-assist">
        <thead>
          <tr>
            <th scope="col">Prestación por año</th>
            <th scope="col" width=110 class="cel-assist2 text-center">Cantidad</th>
            <th scope="col" width=110 class="text-center">Carencia</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Vacunas</td>
            <td class="cel-assist2 text-center">2</td>
            <td class="text-center">-</td>
          </tr>
          <tr>
            <td>Consultas veterinarias domiciliarias</td>
            <td class="cel-assist2 text-center">6</td>
            <td class="text-center">-</td>
          </tr>
          <tr>
            <td>Rutina de laboratorio</td>
            <td class="cel-assist2 text-center">1</td>
            <td class="text-center">3 meses</td>
          </tr>
          <tr>
            <td>Análisis de materia fecal</td>
            <td class="cel-assist2 text-center">1</td>
            <td class="text-center">3 meses</td>
          </tr>
          <tr>
            <td>Consultas con especialistas (Por derivacion)</td>
            <td class="cel-assist2 text-center">1</td>
            <td class="text-center">3 meses</td>
          </tr>
          <tr>
            <td>Castración</td>
            <td class="cel-assist2 text-center">1</td>
            <td class="text-center">6 meses</td>
          </tr>
          <tr>
            <td>Yesos y Vendajes</td>
            <td class="cel-assist2 text-center">1</td>
            <td class="text-center">-</td>
          </tr>
          <tr>
            <td>Radiografías / Ecografías / Electrocardiograma</td>
            <td class="cel-assist2 text-center">2</td>
            <td class="text-center">-</td>
          </tr>
          <tr>
            <td>Tomografías</td>
            <td class="cel-assist2 text-center">-</td>
            <td class="text-center">6 meses</td>
          </tr>
          <tr>
            <td>Limpieza de dientes c/ultrasonido</td>
            <td class="cel-assist2 text-center">-</td>
            <td class="text-center">6 meses</td>
          </tr>
          <tr>
            <td>Cirugías Generales</td>
            <td class="cel-assist2 text-center">-</td>
            <td class="text-center">12 meses</td>
          </tr>
          <tr>
            <td>Cirugías traumatologicas</td>
            <td class="cel-assist2 text-center">-</td>
            <td class="text-center">12 meses</td>
          </tr>
          <tr>
            <td>Cirugía Centros de Urgencia</td>
            <td class="cel-assist2 text-center">15%</td>
            <td class="text-center">12 meses</td>
          </tr>
          <tr>
            <td>Determinaciones especiales de laboratorio</td>
            <td class="cel-assist2 text-center">25% dto</td>
            <td class="text-center">6 meses</td>
          </tr>
          <tr>
            <td>Certificado de salud</td>
            <td class="cel-assist2 text-center">S/CARGO</td>
            <td class="text-center">-</td>
          </tr>
          <tr>
            <td>Odontologia ESPECIFICA</td>
            <td class="cel-assist2 text-center">10%</td>
            <td class="text-center">12 meses</td>
          </tr>
          <tr>
            <td>Observaciones antirrabicas</td>
            <td class="cel-assist2 text-center">-</td>
            <td class="text-center">12 meses</td>
          </tr>
          <tr>
            <td>Endoscopia</td>
            <td class="cel-assist2 text-center">-</td>
            <td class="text-center">12 meses</td>
          </tr>
          <tr>
            <td>Consultas de urgencia x guardia</td>
            <td class="cel-assist2 text-center">1 (25% dto)</td>
            <td class="text-center">3 meses</td>
          </tr>
          <tr>
            <td>Internación (días)</td>
            <td class="cel-assist2 text-center">15% dto hasta 3 días</td>
            <td class="text-center">12 meses</td>
          </tr>
        </tbody>
      </table>



    </div>
  </div>
</div>
